html, body {
  height: 100%;
  font-size: 15px;
}

@media screen and (min-width: 35.5em) {
  html, body {
    font-size: 18px;
  }
}

.vcenter {
  height: 90%;
  display: flex;
  align-items: center;
}

.content {
  margin: auto;
  text-align: center;
}

.name {
  display: block;
  letter-spacing: 2px;
  font-size: 2.5rem;
  padding-top: 10px;
  font-family: 'Quicksand', sans-serif;
}

.description {
  display: block;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: -1px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #999;
}

@media screen and (min-width: 35.5em) {
  #description {
    font-size: 1.2rem;
  }
}

a {
  color: #9fa8da;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  font-family: 'Quicksand', sans-serif;
}

a:hover {
  color: #e8eaf6;
  text-decoration: none;
}

.icons {
  margin-top: 10px;
}

.icons svg {
  width: 45px;
  height: 45px;
  fill: #9fa8da;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.icons svg:hover {
  fill: #e8eaf6;
}
