---
---

/* Variables */
$mobile-font-size: 15px;
$desktop-font-size: 18px;

$name-font-size: 3.5em;

$primary-font: 'Pacifico', cursive;
$secondary-font: 'Quicksand', sans-serif;

$primary-color: #fff;
$highlight-color: #fff;
$background-color: #8C95C5;

html, body {
  height: 100%;
  font-size: $mobile-font-size;
  font-family: $secondary-font;
  background-color: $background-color;
}

@media screen and (min-width: 35.5em) {
  html, body {
    font-size: $desktop-font-size;
  }
}

.vcenter {
  height: 90%;
  display: flex;
  align-items: center;
}

.content {
  margin: auto;
  text-align: center;
}

.name {
  display: block;
  letter-spacing: -1px;
  font-size: $name-font-size;
  font-family: $primary-font;
  color: $primary-color;
}

.description {
  display: block;
  letter-spacing: -1px;
  font-size: 1rem;
  color: $primary-color;
  margin-bottom: 30px;
}

.resume {
    background-color: #555;
}

@media screen and (min-width: 35.5em) {
  #description {
    font-size: 1.2rem;
  }
}

a {
  color: $highlight-color;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
  color: $highlight-color;
  opacity: 0.5;
  text-decoration: none;
}
