html, body {
  height: 100%;
  font-size: 15px;
}

.vcenter {
  height: 90%;
  display: flex;
  align-items: center;
}

#content {
  margin: auto;
  text-align: center;
}

#kdImg {
  max-width: 150px;
}

#name {
  display: block;
  letter-spacing: 2px;
  font-size: 2.5rem;
  padding-top: 10px;
  font-family: 'Quicksand', sans-serif;
}

#description {
  display: block;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: -1px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #999;
}

#downArrow {
  width: 25px;
  margin-top: 10px;
}

.dropdown-content {
  box-shadow: none;
  border: none;
  left: 27%;
  font-family: 'Quicksand', sans-serif;
}

.dropdown-content li {
  min-height: 0;
  font-size: 1.1rem;
}

.dropdown-content li a {
  text-align: center;
  color: #999;
  padding: 5px 0px;
  letter-spacing: -2px;
}

.dropdown-content li a:hover {
  background: transparent;
  color: #b0e4d7;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
