---
---

/* Variables */
$mobile-font-size: 15px;
$desktop-font-size: 18px;
$primary-font: 'Raleway', sans-serif;

$gradient-stop-1: #4A2177;
$gradient-stop-2: #BD597A;
$gradient-stop-3: #FFCA88;

$border-color: #FFFFFF;
$font-color: #FFFFFF;

$box-width: 40em;
$box-height: 10em;

/* Vertical align mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* General rules */
html, body {
  height: 100%;
  font-size: $mobile-font-size;
  font-family: $primary-font;
  color: $font-color;

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $gradient-stop-1, $gradient-stop-2, $gradient-stop-3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $gradient-stop-1, $gradient-stop-2 $gradient-stop-3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $gradient-stop-1, $gradient-stop-2 $gradient-stop-3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $gradient-stop-1, $gradient-stop-2, $gradient-stop-3); /* Standard syntax */
}

@media screen and (min-width: 35.5em) {
  html, body {
    font-size: $desktop-font-size;
  }
}

/* Background shifted div */
.border-shift {
    border: 2px solid $border-color;
    @include vertical-align();
    z-index: 1;
    margin: auto;
    width: $box-width;
    height: $box-height;
    overflow: visible;
}

/* Wrapper vcenter div */
.vcenter {
    margin: auto;
    width: $box-width;
    height: $box-height;
    z-index: 2;
    right: 10px;
    top: 10px;
    position: relative;
}

/* Name div */
.name {
    border: 2px solid $border-color;
    float: left;
    width: 60%;
    height: 100%;
    margin-right: 50px;
}

/* Links div */
.links {
    border: 2px solid $border-color;
    height: 100%;
}

/* Name text rules */
.name-text {
    @include vertical-align();
    text-align: center;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.3em;
}

/* Links text rules */
.links-text {
    @include vertical-align();
    text-align: left;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.7em;
    line-height: 2.5em;

    a {
        color: $font-color;
    }
}
