html {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

body {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

#sectionHeader {
    width: 100%;
    height: 100%;
    background-image: url("../imgs/poly.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
}

#headerText {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 10px #A04657;
}

.btn {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    text-decoration: none;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid #FFFFFF;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.btn:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(238, 161, 164, 1);
    text-shadow: none;
}

.smallText {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: #FFFFFF;
    margin: 1em;
}

.section {
    padding-top: 4em;
    padding-bottom: 4em;
    width: 100%;
    background-color: #FFFFFF;
}

.subSection {
    margin: auto;
    width: 60%;
}

#footer {
    background-color: #EEA1A4;
    text-align: center;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 5em;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #EEA1A4;
    font-size: 6em;
    text-align: center;
    line-height: 1.25em;
    margin-bottom: 0.25em;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #444444;
    font-size: 2.5em;
    line-height: 1.25em;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #444444;
    font-size: 1.5em;
    line-height: 1.25em;
}

ul {
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #444444;
    font-size: 1em;
    list-style-type: circle;
    line-height: 1.35em;
}

ul li {
    list-style-position: outside;
    margin-left: 1em;
}

@media only screen and (max-device-width: 480px) {
    html {
        font-size: 12px;
    }

    .subSection {
        width: 85%;
    }

    ul {
        margin-left: 1em;
    }
}