html {
    height: 100%;
    font-size: 26px;
}

body {
    background-color: #FFFFFF;
    height: 100%;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

#sectionHeader {
    height: 100%;
    background-image: url("../imgs/poly.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
}

#headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*text-shadow: 0px 0px 10px #A04657;*/
}

.btn {
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 0.5em;
    margin-bottom: 1em;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-shadow: none;
}

.btn:hover {
    color: rgba(218, 141, 144, 1);
    background: rgba(255, 255, 255, 1);
}

.smallText {
    font-size: 1.25em;
    color: #FFFFFF;
    margin: 1em;
    margin-bottom: 3em;
}

h1 {
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 700;
}