<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Kreon:400,300,700">
  <link rel="stylesheet" href="{{ site.baseurl }}/blog/style.css">
  </head>
<body>
  <div class="container">
    {{ content }}
  </div>
  {% include google_analytics.html %}
</body>
</html>
